.lp-kontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 180px;
}
.lp-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 149px;
  isolation: isolate;
  width: 1249.87px;
  height: 731.75px;
}
.lp-textcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 599px;
  height: 402px;
}
.lp-judulhero {
  width: 599px;
  height: 286px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 75.7857px;
  line-height: 95px;
  /* or 126% */

  display: flex;
  align-items: center;

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-subhero {
  width: 566px;
  height: 116px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20.2095px;
  line-height: 29px;
  /* or 143% */

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-ourfeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 18px;

  width: 1221px;
  height: 390px;
}
.lp-subjudul {
  width: 413px;
  height: 44px;

  /* Header/H Poppins 64 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 44px;
  /* identical to box height, or 69% */

  display: flex;
  align-items: center;

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 42px;

  width: 1221px;
  height: 328px;
}
.lp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px 40px;
  gap: 25px;
  width: 380px;
  height: 325.62px;

  /* Neutral/Palette 1 */

  background: #fafafa;
  /* Shadow/f */

  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
}
.lp-textcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}
.lp-featuresjudul {
  /* Header/H Poppins 32 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 26px;
  /* identical to box height, or 81% */
  display: flex;
  align-items: center;

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-featuressub {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 38px;
  
  width: 1440px;
  height: 447px;
  margin-top: 148px;
}
.lp-coursejudul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: space-between;

  width: 1216px;
  height: 46px;
}
.lp-cousepriview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  background-color: #030842;
  width: 100%;
  border-radius: 40px 40px;
  height: 350px;
}
.lp-courseisi {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  cursor: pointer;
  
}

.lp-thubmnail {
  width: 50rem;
  height: 21.8rem;
  border-radius: 40px 0px 0px 40px;
  object-fit: cover;
}
.lp-contentisicourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 550px;
  height: 371px;
}
.lp-contentitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;
  margin-top: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  /* or 131% */
  display: flex;
  align-items: center;
  /* Neutral/Palette 1 */
  color: #fafafa;
}
.lp-deskripsicourse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  width: 346px;
  height: 135px;
  text-transform: capitalize;
}
.lp-deskripsicourseitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 13px;

  color: #fafafa;
  width: 546px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  display: flex;
  align-items: center;
}
.lp-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 42px;

  width: 1344px;
  height: 455px;
}
.cardsartikel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 0;
  height: auto;
}
.lp-cardartikel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 321px;
  height: 359px;

  /* Neutral/Palette 2 */

  background: #f6f6f6;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.15);
  border-radius: 50px 0px 0px 0px;
}
.lp-deskripsiartikel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 300px;
  height: 141px;
}
.lp-judulartikel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  /* Primary/Palette 4 */

  color: #060f76;
}
.lp-deskripsiartikel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */

  display: flex;
  align-items: center;

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-judulcontent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 34px;
  /* identical to box height, or 61% */

  display: flex;
  align-items: center;

  /* Primary/Palette 5 */

  color: #030842;
}
.lp-more {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */

  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
