.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 48px;
    justify-content: space-between;
    padding-bottom: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.navigasi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    width: 523px;
    height: 52px;
}
.navitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 327px;
    height: 52px;
}
.item{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  width: 89px;
  
  /* Primary/Palette 5 */
  
  color: #030842;
/* or 122% */


/* Primary/Palette 5 */

color: #030842;
}
.tombollogin{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 146px;


/* Neutral/Palette 1 */

background: #FAFAFA;
/* Primary/Palette 5 */

border: 1px solid #030842;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

display: flex;
align-items: center;
text-align: center;

/* Primary/Palette 5 */

color: #030842;
}
.tombollogin:hover {
    background-color: #030842; /* Green */
    color: white;
  }
  .animasi-left-right {
    display: inline-block;
  }
  .animasi-left-right:after {
    content: '';
    display: block;
    height: .3125rem;
    width: 0;
    background: #030842   ;
    transition: width .3s ease, background-color .3s ease;
  }
  .animasi-left-right:hover:after {
    width: 90%;
    background: #030842;
  }
.profile{
  justify-content: center;
  align-items: center;
}